.px {

    border: 20px solid black;
    margin: 10px;
    text-align: center;

}

.percent {

    border: 20px solid orange;
    margin: 10px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
}

div.em :first-child {

    font-size: 2em;
    color: red;
}

div.rem  {

    color: blue;
    border: 20px solid black;
    margin: 10px;
  
}

div.rem :nth-child(2) {

    font-size: 8rem;
    
    
}

.vw {

    font-size: 5vw;

    
}


.vh {

    font-size: 5vh;
}







.top {
    height: 20px;
    border: 100px solid grey;
    
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
    
}


._3col {

    display: inline-block;

    border: 10px solid grey;
    background-color: grey;
    padding: inherit;
    margin-top: 30px;
    width: 33%;
    height: 500px;
    box-sizing: border-box;


}


.bottom {

    border: 10px solid grey;
    padding: inherit;
    margin-top: 30px;
    background-color: grey;
    height: 70px;
    box-sizing: border-box;

}

